<!DOCTYPE html>
{% load static %}

<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>CafeYaab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
          media="all"/>

</head>
<body>
<nav class="navbar navbar-default" style="line-height: 50px;">
    <ul>
        <li class="nav navbar-nav"><a href="/home"> Home</a></li>
        <li class="nav navbar-nav"><a href="/cafes"> Cafes</a></li>
        <li id="search">
            <form method="GET" action="/cafes/" id="searchForm" style="float:left">
                <div class="ui-widget">
                    <input name="query" class="searchInput form-control" type="text" style="display: inline-block">
                </div>
            </form>
        </li>
        {% if user.is_authenticated %}
            <li class="pull-right"><a href="/logout">Logout</a></li>
            <li class="pull-right"><a href="/profile">Profile</a></li>
            <li class="pull-right"><a href="/editprofile">Edit Profile</a></li>
        {% else %}
            <li class="pull-right"><a href="/login">Login</a></li>
            <li class="pull-right"><a href="/signup">Signup</a></li>
        {% endif %}

    </ul>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $("input").addClass("form-control")
        $("small").addClass("form-text text-muted")
        $("#id_captcha_1").css("display", "inline-block")
        $("img.captcha").css("margin-right", "20px").css("display","inline-block")

            $(function() {
                // Add refresh button after field (this can be done in the template as well)
                $('img.captcha').after(
                        $('<a href="#void" class="captcha-refresh"><button class="btn btn-warning">Refresh</button></a>')
                        );

                // Click-handler for the refresh-link
                $('.captcha-refresh').click(function(){
                    var $form = $(this).parents('form');
                    var url = location.protocol + "//" + window.location.hostname + ":"
                              + location.port + "/captcha/refresh/";

                    // Make the AJAX-call
                    $.getJSON(url, {}, function(json) {
                        $form.find('input[name="captcha_0"]').val(json.key);
                        $form.find('img.captcha').attr('src', json.image_url);
                    });

                    return false;
                });
            });

            $(".searchInput").autocomplete({
                source: "/cafes/get_cafes/",
                minLength: 2,
                select: function (event, ui) {
                    $(".searchInput").val(ui.item.value);
                    $("#searchForm").submit();
                }
            })
    var search = document.getElementById('search');
    if (window.location.toString().split('/')[3] == 'cafes') {
        search.style.display = "inline-block";
    }
</script>
</body>
</html>
