{% extends 'cafeyaab/__base.html' %}

{% block content %}
    <h2>ثبت نام</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

        {% endfor %}
        <input class="btn btn-success" type="submit" value="ثبت نام">
        {% if errors %}{% for error in errors %}<span style="color: red">{{ error }}</span>{% endfor %}{% endif %}
    </form>
{% endblock %}