{% extends 'cafeyaab/__base.html' %}

{% block content %}
    <div style="display: block;margin: 0 auto;max-width: 300px;position: relative;padding-top: 50px">
        <h2>Edit Profile</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button class="btn btn-success" type="submit">Edit Profile</button>
                {% if user.profile_pic != "pic_folder/__none/no-img.png" %}
                    <span class="btn btn-danger" onclick="window.location = '/profile/{{ userId }}/delete_image'">Delete Profile Picture</span>{% endif %}
            </div>
        </form>
    </div>
{% endblock %}