{% extends 'cafeyaab/__base.html' %}
{% load staticfiles %}
{% block content %}
    <img style="margin:20px auto; max-height: 250px; text-align: center; display: block"
         src="{{ user.profile_pic.url }}">

    <p style="text-align: center"> Hi {{ user.username }}</p>
    <p style="text-align: center"> Your Name: {{ user.first_name }}</p>
    <p style="text-align: center"> Your Email: {{ user.email }}</p>
    <h3 style="text-align: center">Favorite List</h3>
    <div style="margin: 0 auto;display: block;width: 50%">
        {% for cafe in user.fav_list.all %}
            {% if cafe.name %}
                <div class="cafe">
                    <img class="cafe-main-image" src="{{ cafe.main_image_url }}" alt="">
                    <div class="cafe-info">
                        <span><a href="/cafes/{{ cafe.id }}">{{ cafe.name }}</a></span>
                        {% include 'cafes/_favourite.html' %}
                        <br>
                        <span style="position: relative; top: 20px;">{{ cafe.description }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h3 style="text-align: center">My Cafes</h3>
    <div style="margin: 0 auto;display: block;width: 50%">
        {% for cafe in cafes %}
            {% if cafe.name %}
                <div class="cafe">
                    <img class="cafe-main-image" src="{{ cafe.main_image_url }}" alt="">
                    <div class="cafe-info">
                        <span><a href="/cafes/{{ cafe.id }}">{{ cafe.name }}{% if not cafe.activated %} (Not
                            Activated){% endif %}</a></span>
                        {% if not cafe.activated %}
                            {% include 'cafes/_favourite.html' %}
                        {% endif %}
                        <br>
                        <span style="position: relative; top: 20px;">{{ cafe.description }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}