{% extends 'cafeyaab/__base.html' %}

{% block content %}
    <div style="display: block;margin: 0 auto;max-width: 300px;position: relative;padding-top: 50px;">
        {% if user.username %}
            <span>You're Already Logged in</span>
        {% else %}
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        {% endif %}
    </div>
{% endblock %}